@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700&display=swap');


blockquote {
  font-style: italic
}

.boxBorder {
     border: 0px solid #bc93a7;
     padding: 10px;
     outline: #bc93a7 solid 5px;
     outline-offset: 5px;
   }
   
 
.videotag{
    position: relative;
    top: 0;
    bottom: 1vw;
    width: 50%;
    height: 50%;
    outline: none;
}
   

/* -- Center page titles and remove white space -- */
.title {
  text-align: left;
  margin-top: 1.5em !important;
  margin-bottom: 0.75em;
}
   

/* -- Define the font type of the website's body -- */
body {
    font-family: 'Muli';
    font-size: 15px;
}

/* -- Define columns -- */
.column-left{
  float: left;
  width: 50%;
  text-align: left;
  padding-left: 10px;
}

.column-right{
  float: right;
  width: 50%;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.column-right_alignRight{
  float: right;
  width: 20%;
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
}

.column-left_alignLeft{
  float: left;
  width: 20%;
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
}


.column-right_alignRightBigger{
  float: right;
  width: 50%;
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
}


/* -- Clear floats after the columns -- */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* -- allows us to add borders to images -- */
img[src*="#bordered"] {
   border: 2px solid black;
}
